---
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/starwind/card";
import { Button } from "@/components/starwind/button";

const {project, desc} = Astro.props;
---

<Card class="w-[400px]" slot="preview">
	<CardHeader>
		<CardTitle>{project.data.title}</CardTitle>
		<CardDescription>
			<small>{project.data.published}</small>
			<div></div>
			{project.data.description}</CardDescription>
	</CardHeader>
	<CardContent class="flex flex-col gap-4">
		<div class="flex w-full flex-col gap-2">
			<slot />
		</div>
		<img class="object-cover h-32 w-full wounded-md" src={project.data.image}></div>
	</CardContent>
	<CardFooter class="flex justify-between">
		<Button href={`/projects/${project.data.slug}`} variant="outline">View</Button>
	</CardFooter>
</Card>