---
import { getCollection, render } from 'astro:content';
import Layout from "@/layouts/Layout.astro";
import { Button } from "@/components/starwind/button";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
const projects = await getCollection('projects');
return projects.map(project => ({
params: { slug: project.data.slug },
props: { project },
}));
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await render(project);
---
<meta charset="UTF-8">
<Layout>
  <div 
    class="relative min-h-screen overflow-hidden"
  >
   <!-- Background Wrapper -->
    <div class="fixed inset-0 -z-10 overflow-hidden">
      <!-- Blurred Abstract Background -->
      <div
        class="absolute inset-0 bg-cover bg-center filter blur-[70px] scale-75 brightness-400 contrast-300 opacity-40"
        style="background-image: url('/images/background.jpg');" aria-hidden="true"></div>

      <!-- Very subtle translucent veil for text readability -->
      <div class="absolute inset-0 bg-white/40 backdrop-blur-[2px]"></div>
    </div>


    <!-- Page Content -->
    <div class="relative z-10 mx-auto p-10 items-center">
      
      <!-- Go Back -->
      <div class="mt-16 mb-6 text-center">
        <a 
          href="/portfolio" 
          class="inline-block text-gray-600 hover:text-orange-500 transition-colors text-base"
        >
          ← Back to Projects
        </a>
      </div>

      <h1 class="font-bold text-4xl p-2 text-center">{project.data.title}</h1>
      <h2 class="text-lg p-2 text-center text-gray-700">{project.data.description}</h2>

      <div class="flex justify-center p-8">
        <Content />
      </div>

      <div class="text-center items-center">
        <h2 class="text-sm p-2 text-gray-600">
          Published on {project.data.published}
        </h2>
        <Button href={project.data.url} variant="outline">
          View on {project.data.platform}
        </Button>
      </div>

    </div>
  </div>
</Layout>
